name: Test build for PR check

on:
  # Runs on pushes targeting the default branch
  pull_request:
    branches:
      - develop
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build with Next.js
        run: yarn lint
      - name: Build with Next.js
        run: yarn build --profile
